In [1]:
str='Hello World!'
str

'Hello World!'

In [2]:
"My name is Jigar Hundia, I'm from a twon named Gangavathi!"

"My name is Jigar Hundia, I'm from a twon named Gangavathi!"

In [4]:
"""Welcome to the world of python!
   Hope you learn all about the python.
   Python has library packages in it,which makes python one among the most powerfull programming languages in the world.
   It is used worldwide today
   Hope to see you again!"""

'Welcome to the world of python!\n\n   Hope you learn all about the python.\n   Python has library packages in it,which makes python one among the most powerfull programming languages in the world.\n   It is used worldwide today\n   Hope to see you again!'

In [8]:
print ('Hello World 1')
print ('Hello World 2')
print ('Use \\n to print a new line')
print ('\n')
print ('See what I mean?')

Hello World 1
Hello World 2
Use \n to print a new line


See what I mean?

In [10]:
len('Hello World')

11

In [104]:
s='Hello World!'

In [105]:
s

'Hello World!'

In [106]:
s[0]

'H'

In [107]:
len(s)

12

In [108]:
s[5]    #prins the space between the two words Hello World

' '

In [109]:
s[2:]

'llo World!'

In [110]:
s[:5]

'Hello'

In [111]:
s[5:]

' World!'

In [112]:
s[:-1]

'Hello World'

In [113]:
s[::-1]  #printing the string backwards

'!dlroW olleH'

In [114]:
j='Jigar Hundia'
j[::-1]

'aidnuH ragiJ'

In [115]:
#cannot perform assignment operation in strings indices ,but can concatenate two strings and assign it to the same variable
s +' Welcome to Python!'

'Hello World! Welcome to Python!'

In [116]:
s=s+' Welcome to Python!'
s

'Hello World! Welcome to Python!'

In [117]:
letter = 'J'

In [118]:
letter*10

'JJJJJJJJJJ'

In [119]:
s.upper() #to change all letter in upper case

'HELLO WORLD! WELCOME TO PYTHON!'

In [120]:
s.lower()  #to change all letter in lower case

'hello world! welcome to python!'

In [121]:
s.split() #Forms a  list of words, by default seperated by space.

['Hello', 'World!', 'Welcome', 'to', 'Python!']

In [122]:
s.split('!')

['Hello World', ' Welcome to Python', '']

In [123]:
'I am Jigar Hundia:{}'.format({'Welcome to the world of Python'})

"I am Jigar Hundia:{'Welcome to the world of Python'}"

In [124]:
print(s)
s.count('o')

Hello World! Welcome to Python!

5

In [125]:
s.find('o')  #Prints the location of the first 'o' in the string

4

In [126]:
s.center(120,' ')

'                                            Hello World! Welcome to Python!                                             '

In [127]:
'Jigar\tHundia'.expandtabs()

'Jigar   Hundia'

In [128]:
print(s)
s.isalnum()   #To chechk whether the string is alpha numeric
#false because we have special character '!' in it!

Hello World! Welcome to Python!

False

In [129]:
s.islower()

False

In [130]:
s.isupper()

False

In [131]:
s=s.upper()
print(s)
s.isupper()  #return to true

HELLO WORLD! WELCOME TO PYTHON!

True

In [132]:
s.isspace()

False

In [133]:
y='     '
print(y)

In [134]:
y.isspace()   #returns true because all thats the blank string only with space in it

True

In [135]:
s.istitle()

False

In [136]:
s.endswith('!')

True

In [141]:
s.partition('!')

('HELLO WORLD', '!', ' WELCOME TO PYTHON!')

In [139]:
s

'HELLO WORLD! WELCOME TO PYTHON!'

In [142]:
my_list = ['A string',23,100.232,'o']
my_list

['A string', 23, 100.232, 'o']

In [143]:
len(my_list)

4

In [153]:
my_list = ['one','two','three','four','five']

In [154]:
my_list[2:]

['three', 'four', 'five']

In [155]:
my_list + ['new', 'item'] #temporary addition of two objects in thw list

['one', 'two', 'three', 'four', 'five', 'new', 'item']

In [156]:
my_list * 3

['one',
 'two',
 'three',
 'four',
 'five',
 'one',
 'two',
 'three',
 'four',
 'five',
 'one',
 'two',
 'three',
 'four',
 'five']

In [157]:
my_list

['one', 'two', 'three', 'four', 'five']

In [159]:
my_list.append('six') #permanent additon of new values in the list

In [161]:
my_list.append('seven')

In [162]:
my_list

['one', 'two', 'three', 'four', 'five', 'six', 'six', 'seven']

In [163]:
my_list.pop(5)

'six'

In [164]:
my_list

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [171]:
print(my_list)
my_list.reverse()
print(my_list)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']
['seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [174]:
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

In [176]:
matrix = [lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [177]:
matrix[1]

[4, 5, 6]

In [178]:
matrix[0][1]

2

In [179]:
first_col = [row[1] for row in matrix]
first_col

[2, 5, 8]

In [180]:
x = [1, 2, 3]
x.extend([4, 5])
print(x)

[1, 2, 3, 4, 5]

In [186]:
l = [1,2,3]
l.append(4)
print(l)
l.index(3)

[1, 2, 3, 4]

2

In [187]:
l.insert(2,'inserted')

In [188]:
l

[1, 2, 'inserted', 3, 4]

In [189]:
ele = l.pop(2)

In [193]:
 'Poped element is ' + ele

'Poped element is inserted'

In [191]:
l

[1, 2, 3, 4]

In [194]:
l.remove(4)

In [195]:
l

[1, 2, 3]

In [202]:
l.reverse()

In [203]:
l

[3, 2, 1]

In [204]:
print(l)

[3, 2, 1]

In [205]:
l.sort()
l

[1, 2, 3]