In [1]:
t = (1,2,3)  #creation of a tuple

In [2]:
t

(1, 2, 3)

In [3]:
len(t)

3

In [4]:
t=('one','two',3,'a',4.5)

In [5]:
t

('one', 'two', 3, 'a', 4.5)

In [6]:
t[1]

'two'

In [7]:
t[:-1]

('one', 'two', 3, 'a')

In [8]:
y=(1,1,2,3,8,2,1,9,10)
len(y)

9

In [9]:
y.count(1)   #counting the number of times number 1 is present on the tuple

3

In [10]:
x = set()

In [13]:
x.add('a')

In [14]:
x.add('b')

In [15]:
x

{'a', 'b'}

In [16]:
l = [1,2,10,2,3,4,7,6,1,9,20,2,15,5,1,59,99,14]

In [17]:
l

[1, 2, 10, 2, 3, 4, 7, 6, 1, 9, 20, 2, 15, 5, 1, 59, 99, 14]

In [19]:
set(l)   #extracting the unique elements present in the list

{1, 2, 3, 4, 5, 6, 7, 9, 10, 14, 15, 20, 59, 99}

In [20]:
my_marks = {'sub1':'100','sub2':'90','sub3':'85'} #creating a dictionary with key as subjects and values as marks obtained

In [21]:
my_marks

{'sub1': '100', 'sub2': '90', 'sub3': '85'}

In [22]:
my_marks['sub3']

'85'

In [53]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [54]:
my_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [26]:
my_dict['key2']

[12, 23, 33]

In [27]:
my_dict['key3'][1]  #accessing the second(as index starts with 0) element stored in the key value 3

'item1'

In [28]:
my_dict['key3'][0].upper()

'ITEM0'

In [35]:
my_dict['key3'][2].upper()

'ITEM2'

In [43]:
i=0
for i in range(len(my_dict['key3'])):
    y=my_dict['key3'][i].upper()
    print(y)
else:
    print('only'+' '+str(i+1)+' values in key3')

ITEM0
ITEM1
ITEM2
only 3 values in key3

In [55]:
my_dict['key1'] = my_dict['key1'] - 100

In [58]:
my_dict['key1']

23

In [59]:
my_dict['key1']*=2

In [60]:
my_dict['key1']

46

In [61]:
dict={}

In [63]:
dict['name']='jigar'

In [64]:
dict['place']='gangavathi'

In [65]:
dict['dept']='Automation and Robotics'

In [66]:
dict['college']='Kle tectechnology Uni'

In [67]:
dict

{'name': 'jigar',
 'place': 'gangavathi',
 'dept': 'Automation and Robotics',
 'college': 'Kle tectechnology Uni'}

In [68]:
d = {'sub1':{'grade':{'A':'pass'}}}

In [69]:
d

{'sub1': {'grade': {'A': 'pass'}}}

In [70]:
d['sub1']['grade']['A']

'pass'

In [72]:
d = {'key1':1,'key2':2,'key3':3}

In [73]:
d

{'key1': 1, 'key2': 2, 'key3': 3}

In [74]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [75]:
d.values()

dict_values([1, 2, 3])

In [76]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [79]:
print(list(range(10,20,2)))

[10, 12, 14, 16, 18]

In [80]:
{x:x**2 for x in range(10,20,2)}

{10: 100, 12: 144, 14: 196, 16: 256, 18: 324}

In [83]:
name=input('Enter name:')
def say_hello():
    print('hello'+' '+name)

Enter name:Jigar

In [84]:
say_hello()

hello Jigar

In [85]:
def welcome(name):
    print('Hello %s' %name)
    print('Welcome to the world of python %s'%name)

In [86]:
welcome('Jigar')

Hello Jigar
Welcome to the world of python Jigar

In [87]:
def add_num(num1,num2):
    return num1+num2

In [90]:
add_num(10,21.5)   #int and float return float by default

31.5

In [91]:
result = add_num(10,25)

In [92]:
print(result)

35

In [93]:
print(add_num('one\t','two'))

one	two

In [94]:
def is_prime(num):
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
    else: 
        print('prime')

In [95]:
is_prime(11)

prime

In [96]:
is_prime(20)

not prime

In [1]:
import math

def is_prime(num):
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [2]:
is_prime(3)

True

In [3]:
is_prime(7)

True

In [4]:
range(6)

range(0, 6)

In [5]:
def gensquares(n):
    for num in range(n):
        yield num**2

In [8]:
for x in gensquares(6):
    print(x)

0
1
4
9
16
25

In [17]:
def genpower(n,n1,n2):     #Trying to printout the sqaures of all the even number between 10 and 20
    for num in range(n,n1,n2):
        yield num**2

In [19]:
for x in genpower(10,21,2):
    print(x)

100
144
196
256
324
400

In [26]:
def genfibon(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [27]:
for num in genfibon(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [29]:
def simple_gen():
    for x in range(3):
        yield x

In [30]:
g=simple_gen()
print(next(g))

0

In [31]:
print(next(g))

1

In [32]:
print(next(g))

2

In [33]:
print(next(g))  #error because we range of 3 is finishes

StopIteration:

In [34]:
a = 'Jigar Hundia'

for i in a:
    print(i)
else:
    print('End of string!')

J
i
g
a
r

H
u
n
d
i
a
End of string!

In [36]:
a_iter=iter(a)

In [38]:
print(next(a_iter))

J

In [39]:
print(next(a_iter))
print(next(a_iter))
print(next(a_iter))
print(next(a_iter))
print(next(a_iter))

i
g
a
r

In [40]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
    
temp = [0, 22.5, 40,100]

In [41]:
F_temps = list(map(fahrenheit, temp))
F_temps

[32.0, 72.5, 104.0, 212.0]

In [42]:
list(map(celsius, F_temps))

[0.0, 22.5, 40.0, 100.0]

In [43]:
list(map(lambda x: (5.0/9)*(x - 32), F_temps))

[0.0, 22.5, 40.0, 100.0]

In [44]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

list(map(lambda x,y:x+y, a,b))

[6, 8, 10, 12]

In [45]:
list(map(lambda x,y,z:x+y+z,a,b,c))

[15, 18, 21, 24]

In [46]:
a=[1,2,3,4,5]
b=[1,2,3,4,5]
c=[]

In [50]:
c=list(map(lambda x,y:x**y,a,b))

In [51]:
c

[1, 4, 27, 256, 3125]

In [52]:
from functools import reduce
lst =[47,11,42,13]
reduce(lambda x,y: x+y,lst)

113

In [53]:
lst=[1,10,5,15,80,20,6,14]

In [55]:
reduce(lambda x,y:x if (x>y) else y,lst)

80

In [56]:
reduce(lambda x,y:x if (x<y) else y,lst)

1

In [57]:
lst =range(20)
list(filter(lambda x: x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]