In [1]:
import math   #importing math library

In [2]:
math.ceil(10.3)    #Rounding off to the next big number

11

In [3]:
print(dir(math))    #displays the list of all modules in the math library

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [4]:
help(math.ceil)    #to know how to use the function inside the module

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [5]:
help(math.fabs)

Help on built-in function fabs in module math:

fabs(x, /)
    Return the absolute value of the float x.

In [6]:
math.sin(45)

0.8509035245341184

In [7]:
math.cos(0)  #return 1

1.0

In [8]:
try:                                   
    f = open('file1','w')
    f.write('Test write this')
except IOError:
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [9]:
try:                                   
    f = open('file2','r')                          #since the file is not present to read it throws the exception print
    f.write('Test write this')
except IOError:
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Error: Could not find file or read data

In [10]:
try:                                   
    f = open('file2','w')                          #since the file is not present to read it throws the exception print
    f.write('An attempt to print final statement')
except :
   print("Error: Could not find file or read data")
finally:
    print("Content written successfully")
    f.close()

Content written successfully

In [11]:
def pfloat():
        try:
            val = float(input("Please enter a floating number: "))
            print(val) 
        except:
            print("Looks like you did not enter an float!")
        finally:
            print("Finally, I executed!")

In [12]:
pfloat()

Please enter a floating number: 4.55
4.55
Finally, I executed!

In [13]:
pfloat()

Please enter a floating number: a
Looks like you did not enter an float!
Finally, I executed!

In [14]:
def pfloat():
    while True:
        try:
            val = float(input("Please enter a floating number: "))
            print(val)
        except:
            print("Looks like you did not enter an float!")
            continue
        else:
            print('Yep thats an floating number!')
            break
        finally:
            print("Finally, I executed!")

In [15]:
pfloat()

Please enter a floating number: abc
Looks like you did not enter an float!
Finally, I executed!
Please enter a floating number: bbb
Looks like you did not enter an float!
Finally, I executed!
Please enter a floating number: str
Looks like you did not enter an float!
Finally, I executed!
Please enter a floating number: 4.55
4.55
Yep thats an floating number!
Finally, I executed!

In [50]:
import sqlite3

In [51]:
db=sqlite3.connect('mydata1.db')   #connecting to database and creating a new databse file

In [64]:
db.execute("drop table if exists grade1")   #dropping the table if it exists

In [65]:
db.execute('CREATE table grade1(id int,name text,grades int,result text)')

In [66]:
db.execute("insert into grade1(id,name,grades,result) values(101,'manoj',90,'PASS')")

In [67]:
db.execute("insert into grade1 values(102,'hrishi',70,'PASS')")

In [68]:
db.execute("insert into grade1 values(103,'Chauhan',34,'FAIL')")
db.execute("insert into grade1 values(104,'Satwik',85,'PASS')")
db.execute("insert into grade1 values(105,'Vijay',25,'FAIL')")
db.execute("insert into grade1 values(106,'Srujana',80,'PASS')")

In [69]:
db.commit()

In [70]:
results = db.execute("select * from grade1 order by id")
for row in results:
    print(row)
print("-" * 60 )

(101, 'manoj', 90, 'PASS')
(102, 'hrishi', 70, 'PASS')
(103, 'Chauhan', 34, 'FAIL')
(104, 'Satwik', 85, 'PASS')
(105, 'Vijay', 25, 'FAIL')
(106, 'Srujana', 80, 'PASS')
------------------------------------------------------------

In [71]:
results = db.execute("select * from grade1 where result = 'FAIL' ")
for row in results:
    print(row)
print("-" * 60 )

(103, 'Chauhan', 34, 'FAIL')
(105, 'Vijay', 25, 'FAIL')
------------------------------------------------------------

In [72]:
results = db.execute("select * from grade1 where name = 'hrishi' ")
for row in results:
    print(row)
print("-" * 60 )

(102, 'hrishi', 70, 'PASS')
------------------------------------------------------------

In [73]:
results = db.execute("select * from grade1 where grades>=50 ")
for row in results:
    print(row)
print("-" * 60 )

(101, 'manoj', 90, 'PASS')
(102, 'hrishi', 70, 'PASS')
(104, 'Satwik', 85, 'PASS')
(106, 'Srujana', 80, 'PASS')
------------------------------------------------------------

In [74]:
results = db.execute("select * from grade1 order by grades desc ")
for row in results:
    print(row)
print("-" * 60 )

(101, 'manoj', 90, 'PASS')
(104, 'Satwik', 85, 'PASS')
(106, 'Srujana', 80, 'PASS')
(102, 'hrishi', 70, 'PASS')
(103, 'Chauhan', 34, 'FAIL')
(105, 'Vijay', 25, 'FAIL')
------------------------------------------------------------

In [76]:
results = db.execute("select name, grades from grade1 order by grades")
for row in results:
    print(row)
print("-" * 60 )

('Vijay', 25)
('Chauhan', 34)
('hrishi', 70)
('Srujana', 80)
('Satwik', 85)
('manoj', 90)
------------------------------------------------------------

In [77]:
results = db.execute("select id, grades from grade1 order by grades")
for row in results:
    print(row)
print("-" * 60 )

(105, 25)
(103, 34)
(102, 70)
(106, 80)
(104, 85)
(101, 90)
------------------------------------------------------------