In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.0.3'

In [8]:
import numpy as np
import pandas as pd

In [16]:
a = pd.Series([1,2,3,4,5])

In [17]:
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [18]:
b=pd.Series([1.0,2.2,-5.0,-66.7])

In [19]:
b

0     1.0
1     2.2
2    -5.0
3   -66.7
dtype: float64

In [21]:
a.values

array([1, 2, 3, 4, 5], dtype=int64)

In [22]:
a.index

RangeIndex(start=0, stop=5, step=1)

In [24]:
c=pd.Series([1000000,2500000,3650000,4950000,9900000],index=['gangavathi','hospete','hubli','belgaum','bangalore',])

In [25]:
c

gangavathi    1000000
hospete       2500000
hubli         3650000
belgaum       4950000
bangalore     9900000
dtype: int64

In [26]:
c['bangalore']

9900000

In [27]:
c['gangavathi']

1000000

In [28]:
c['hubli']

3650000

In [29]:
c['hubli']=3800000

In [30]:
c['hubli']

3800000

In [31]:
c[3]

4950000

In [33]:
c.name='population'
c.index.name='cities'

In [34]:
c

cities
gangavathi    1000000
hospete       2500000
hubli         3800000
belgaum       4950000
bangalore     9900000
Name: population, dtype: int64

In [35]:
np.log(c)

cities
gangavathi    13.815511
hospete       14.731801
hubli         15.150512
belgaum       15.414898
bangalore     16.108045
Name: population, dtype: float64

In [36]:
c[c>3500000]

cities
hubli        3800000
belgaum      4950000
bangalore    9900000
Name: population, dtype: int64

In [37]:
np.sum(c)

22150000

In [38]:
np.add.accumulate(c)

cities
gangavathi     1000000
hospete        3500000
hubli          7300000
belgaum       12250000
bangalore     22150000
Name: population, dtype: int64

In [39]:
np.add.reduce(c)

22150000

In [41]:
d_dict={'lang1':70,'maths':95,'physics':89,'chemistry':85,'comp_science':100}

In [42]:
d_dict.keys()

dict_keys(['lang1', 'maths', 'physics', 'chemistry', 'comp_science'])

In [43]:
d=pd.Series(d_dict)

In [44]:
d

lang1            70
maths            95
physics          89
chemistry        85
comp_science    100
dtype: int64

In [45]:
d.name='scores'
d.index.name='subject'

In [46]:
d

subject
lang1            70
maths            95
physics          89
chemistry        85
comp_science    100
Name: scores, dtype: int64

In [53]:
f={'marks':[70,95,89,85,100],
   'subject':['lang1','maths','physics','chemistry','comp_science'], 
    'result':['p','p','p','p','p'],
    'grades':['C','A','B','B','A']}

In [54]:
print(f)

{'marks': [70, 95, 89, 85, 100], 'subject': ['lang1', 'maths', 'physics', 'chemistry', 'comp_science'], 'result': ['p', 'p', 'p', 'p', 'p'], 'grades': ['C', 'A', 'B', 'B', 'A']}

In [55]:
f_data=pd.DataFrame(f)

In [56]:
f_data

   marks       subject result grades
0     70         lang1      p      C
1     95         maths      p      A
2     89       physics      p      B
3     85     chemistry      p      B
4    100  comp_science      p      A

In [61]:
f_data=pd.DataFrame(f_data,columns=['subject','marks','result','grades'])

In [62]:
f_data

        subject  marks result grades
0         lang1     70      p      C
1         maths     95      p      A
2       physics     89      p      B
3     chemistry     85      p      B
4  comp_science    100      p      A

In [64]:
f_data['points']=f_data.marks/100

In [65]:
f_data

        subject  marks result grades  points
0         lang1     70      p      C    0.70
1         maths     95      p      A    0.95
2       physics     89      p      B    0.89
3     chemistry     85      p      B    0.85
4  comp_science    100      p      A    1.00

In [66]:
f_data['Serie_aligned'] = pd.Series(range(5))

In [67]:
f_data

        subject  marks result grades  points  Serie_aligned
0         lang1     70      p      C    0.70              0
1         maths     95      p      A    0.95              1
2       physics     89      p      B    0.89              2
3     chemistry     85      p      B    0.85              3
4  comp_science    100      p      A    1.00              4

In [69]:
f_data['Serie_aligned'] = pd.Series(range(5), index=[1,2, 3, 4,5])
f_data

        subject  marks result grades  points  Serie_aligned
0         lang1     70      p      C    0.70            NaN
1         maths     95      p      A    0.95            0.0
2       physics     89      p      B    0.89            1.0
3     chemistry     85      p      B    0.85            2.0
4  comp_science    100      p      A    1.00            3.0

In [72]:
convert=f_data.to_dict()
convert

{'subject': {0: 'lang1',
  1: 'maths',
  2: 'physics',
  3: 'chemistry',
  4: 'comp_science'},
 'marks': {0: 70, 1: 95, 2: 89, 3: 85, 4: 100},
 'result': {0: 'p', 1: 'p', 2: 'p', 3: 'p', 4: 'p'},
 'grades': {0: 'C', 1: 'A', 2: 'B', 3: 'B', 4: 'A'},
 'points': {0: 0.7, 1: 0.95, 2: 0.89, 3: 0.85, 4: 1.0},
 'Serie_aligned': {0: nan, 1: 0.0, 2: 1.0, 3: 2.0, 4: 3.0}}

In [73]:
pd.DataFrame(convert)

        subject  marks result grades  points  Serie_aligned
0         lang1     70      p      C    0.70            NaN
1         maths     95      p      A    0.95            0.0
2       physics     89      p      B    0.89            1.0
3     chemistry     85      p      B    0.85            2.0
4  comp_science    100      p      A    1.00            3.0

In [74]:
convert['subject']

{0: 'lang1', 1: 'maths', 2: 'physics', 3: 'chemistry', 4: 'comp_science'}